* {
  margin:0px;
  border: 0px;
}

body {
  background: #f6f6f6;
  /* display: flex; */
  /* flex-direction: column; */
  overflow: hidden;
}

.logcon {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  color: #38A1DB;
  position: relative;
  top: 1vh;
  left: 2vw;
  /* display: flex; */
  flex-direction: row !important;
  justify-content: flex-start;
}

.l1 {
  color: #3EB370;
}

.l1hide {
  font-family: 'Courier New', Courier, monospace;
  color: #ff0000;
}

button {
  padding: 1% 5% 2%;
  text-align: center;
  font-weight: 700;
  border-radius: 8px;
  width: 45%;
}

.btn {
  text-align: center;
  margin-top: 5px;
}

.stabtn {
  font-family: 'Courier New', Courier, monospace;
  background-color: azure;
  box-shadow: 0 9px #bbb;
}

.stabtn:active {
  background-color: #A0D8EF;
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}

.cwinfo {
  font-family: 'Courier New', Courier, monospace;
  background-color: #faf0be;
  box-shadow: 0 9px #bbb;
}

.cwinfo:active {
  background-color: #e0d666;
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}

.index-bkimg {
  background-image: url('./pages/images/index.jpg');
  background-size: cover;
  height: 100vh;
}

.title {
  font-size: 50px;
  font-weight: 900;
  color: white;
}

.subtitle {
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.middle {
  text-align: center;
  align-items: center;
}

.blank {
  color: #00000000;
}

.date {
  color: #EEBBCB;
}