* {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

button {
  padding: 1% 5% 2%;
  text-align: center;
  font-weight: 700;
  border-radius: 8px;
  width: 45%;
}

.cwinfo-bkimg {
  background-image: url('../../img/cwinfo.jpg');
  background-size: cover;
  height: 100vh;
}

.window {
    position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
}

div.window>div{
    padding-left: 5px;
}

/* Title bar */
.w-title {
  display: block;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}

.w-title-name {
  float: left;
  width: max-content;
}

.w-title-control {
  float: right;
}

.w-body {
    padding-top: 10px;
    height: fit-content;
}

.float-box {
  background-color: #72C1C888;
}

.try-it-btn {
  margin-bottom: 2vh;
  padding-left: -5px;
  background-color: #F7FCFE;
}

.try-it-btn:disabled {
  background-color: #F7FCFE88 !important;
}